*,
*::before,
*::after {
  box-sizing: border-box;
}

.park {
  margin: 16px;
  border: 2px dashed silver;
  overflow: hidden;
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
}

.animal {
  padding: 16px;
  font-size: 32px; /* Make the animals bigger */
}

/* Align the animals */
.giraffe {
  text-align: center; /* Center the giraffe */
}

.dino {
  text-align: right; /* Align the dino to the right */
}

/* Add hover effects for each animal */
.crocodile:hover {
  background-color: lightblue;
}

.giraffe:hover {
  background-color: lightgreen;
}

.dino:hover {
  background-color: lightsalmon;
}