.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--red {
  background-color: lightcoral;
}

.card--yellow {
  background-color: lightyellow;
}

.card--green {
  background-color: lightgreen;
}

.card--purple {
  background-color: plum;
}

.card--orange {
  background-color: lightsalmon;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
